/* splitting the code into files are required 
(improvement required) */

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background: #333;
  color: rgb(223, 223, 223);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  

.homeContainer{
  width: 80%;
  margin: 0 auto;
}

label, #homeRadio {
  padding-top: 20px;
}

.homeTitle{
  margin-top: 2%;
  text-align: center;
}

select {
  margin-bottom: 10px;
}

.elBreak{
  margin-bottom: 30px;
}

.gridContainer{
  margin-left: 2.5%;
  margin-right: 2.5%
}

table{
width: 100%;
margin-left: auto;
margin-right: auto
}

td, th {
vertical-align: middle !important;
text-align: center !important;

padding-top: 10px;
padding-bottom: 10px;
width: 12%;
word-wrap:break-word
}

.scoreTableTr{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.tableCourse{
  width: 40%
}

.tableDisable{
  display: none;
}

#admissionTable:nth-child(even), thead tr {
  background-color: #f2f2f2
}

.tableTitle{
  text-align: center;
  padding: 5px 0;
}

.cellOnClick{
  cursor: pointer;
}

.cellOnClick:hover{
  background-color: #d6d6d6
}


#submitButton{ 
  margin-top:5%;
  width: 100%
}

/* modal */

.modalOutside{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  animation-name: fadeIn;
  animation-duration: 0.3s
  }
  
  .modal-content {
  position: fixed; 
  z-index: 1; 
  background-color: white;
  margin: 15vh 10%;  /*  why vh work, % doesnt work? */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  
  animation-name: slideIn;
  animation-duration: 0.3s
  }

  .modalTable{
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    background-color: white;
    }


/* The Modal Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.paper {
  background: #fff;
  color: #333; 
  box-shadow:
    0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);

    margin-top: 20px;
    margin-bottom: 20px
}

.schoolButton{
  width: 30%;
  margin: 1.5%

}

.changeButton{
  
  width: 97%;
  margin: 1.5% 1.5%;
}


@media only screen and (min-width: 1024px) {

  .tableDisable {
    display: table-cell 
  }

  /* for result page use only */
  .gridContainer{
    display: grid;
    grid-template-columns: 20% 2.5% auto ;
     
}
.scoreTable{
  position: fixed;
  width: 20%;
  padding-bottom: 1%;  
  grid-column-start: 1;
  grid-column-end:  2;
}
.admissionTable{
  grid-column-start: 3;
  grid-column-end:  4;
}






.homeContainer{
  display: flex;           
  flex-direction: column;  
  justify-content: center; 
  height: 90vh;
}



.homeInnerContainer{
  display: grid;
  width: 100%;
  grid-template-columns: 10% 20% 8% 10% 36% 8% 10%;
  grid-template-rows: 100px 50px 50px 50px 50px auto ;
  grid-template-areas: 
    " . radio radio . . . ."
    ". label1 select1 . labelEL . ." 
    ". label3 select3 . label2 select2 ."
    ". label5 select5 . label4 select4 ."
    ". label7 select7 . label6 select6 ."
    ". submitButton submitButton submitButton submitButton submitButton .";

}
#homeRadio{
  align-self: center;
  grid-area: radio;
}
.labelEL{
  align-self: center;
  grid-area: labelEL;
}
.label1 {
  align-self: center;
  grid-area: label1;
}

.select1{
  align-self: center;
  grid-area: select1;
}

.label2 {
  align-self: center;
  grid-area: label2;
}

.select2{
  align-self: center;
  grid-area: select2;
}

.label3 {
  align-self: center;
  grid-area: label3;
}

.select3{
  align-self: center;
  grid-area: select3;
}

.label4 {
  align-self: center;
  grid-area: label4;
}

.select4{
  align-self: center;
  grid-area: select4;
}

.label5 {
  align-self: center;
  grid-area: label5;
}

.select5{
  align-self: center;
  grid-area: select5;
}

.label6 {
  align-self: center;
  grid-area: label6;
}

.select6{
  align-self: center;
  grid-area: select6;
}

.label7 {
  align-self: center;
  grid-area: label7;
}

.select7{
  align-self: center;
  grid-area: select7;
}

.submitButton{
  grid-area: submitButton;
}

label {
  padding-top: 0px;
}

select {
  margin-bottom: 0px;
}

.elBreak{
  margin-left: 10px;
  margin-bottom: 0px;
  
}



}


