.homeContainer{
    color: rgb(223, 223, 223);
    .background1{
        box-shadow: 0px 2px 25px 5px rgba(0,0,0,0.75);
        position: relative;
        background: #333;
        z-index: 2;
        .text-wrapper{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            width: 100%;
            .leftQuote{
                padding-top:150px;
                flex-basis: 50%;
                .frontQuote{
                    padding-bottom: 15px;
                }
            }
            .rightNav{
                border: 1px solid;
                padding: 10px;
                box-shadow: -11px -7px 78px -3px rgba(136,136,136,1);
                flex-basis: 50%;
                margin: 10% 75px ;
                background: rgb(241, 241, 241);
                border-radius: 3px;
                .subtitle{
                    padding:  25px;
                    text-align: center;
                    color: black
                }
                
            }
        }
    }

    .background2 {
        position: relative;
        background: #fff;
        color: gray;
        padding-bottom: 100px;
        z-index: 1;
        .descriptionContainer{
            max-width: 1200px;
            margin: 0 auto;
            p {
                font-size: 24px;
                margin: 0;
                padding-bottom: 10px;
            }
            .introText{
                padding-top: 75px;
                max-width: 1000px;
                font-size: 24px
            }
            .featuresText{
                padding-top: 250px;
                margin: 0 auto;
                
                .intro{
                    text-align: center;
                    padding-bottom: 100px;
                }
                .imgContainer{
                    background-color: white;
                    box-shadow: -11px -7px 18px -3px rgba(136,136,136,1);
                    margin-bottom: 100px;
                    img{
                        max-width: 100%;
                        height: auto;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                    .imgTextContainer{
                        color: black;
                        text-align: center;
                        padding: 20px 10px;
                        span{
                            vertical-align: middle;
                        }
                    }
                }
                
                
                
            }
        }
    }
    .background3{
        position: relative;
        z-index: 2;
        padding-bottom: 100px;
        padding-top:50px;
        background: #edeff0;
        .motivateContainer{
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 50px;
            
            .motivateBox{
                max-width: 1100px;
                margin: 0 auto;
                display: flex;
                .imgContainer{
                    flex-basis: 50%;
                    background-color: white;
                    box-shadow: -11px -7px 18px -3px rgba(136,136,136,1);
                    img{
                        max-width: 100%;
                        height: auto;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                }
                .motivateRight{
                    flex-basis: 50%;
                    color: black;
                    background: white;
                    display: flex;
                    align-items: center;
                    p {
                        padding: 0 15px;
                        font-size: 24px;
                        margin: 0;

                    }
                }
            }
            ul{
                display:flex;
                max-width: 1100px;
                margin: 0 auto;
                li {
                    margin: 50px 25px;
                }
            }
        }
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        li{
            margin: 20px auto;
            text-align: center;
            width: 80%;
        }
        .link {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            text-decoration: none;
            line-height: 50px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            display: inline-block;
            background-color: #387bab !important;
            border-color: #387bab !important;
            color: #fff !important;
        }
      }
    
}





// .green {
//     color: #3e5706;
 
//     // background: #a5cd4e; /* Old browsers */
//     // background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
//     // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
//     // background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
//     // background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
//     // background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
//     background-image: linear-gradient(  #a5cd4e ,#6b8f1a); /* W3C */
// }
 
// /* Blue Color */
 
// .blue {
//     color: #19667d;
//     background-image: linear-gradient(  #70c9e3 0%,#39a0be 100%)
// }
 
/* Gray Color */
 
// .gray {
//     color: #515151;
//     background-image: linear-gradient( #d3d3d3 0%,#8a8a8a 100%); /* W3C */
// }