.listContainer {
    font-family: "Raleway", sans-serif;
    max-width: 1000px;
    min-height: calc(100vh - 252px);
    
    text-align: center;
    p {
      font-size: 1.5em;
      text-align: center;
    }
    .link {
      text-decoration: none;
      font-weight: 500;
      display: inline-block;
      color: gray;
      &:hover {
        color: blue;
      }
     
    }
    .leftListContainer {
      .leftList {
        list-style: none;
        
        .leftListItem {
          padding-top: 25px;
            &:nth-child(2){
                padding-top: 50px;
            }

        }
      }
    }
    .rightListContainer {
      .rightList {
          .rightListItem {
              padding-top:0px;
              list-style: none;
              &:nth-child(1){
                  padding-top: 25px;
              }
              &:nth-child(2){
                  padding-top: 50px;
              }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .listContainer{
      ul{
        padding: 0
      }
    }
    
  }

  @media only screen and (min-width: 769px) {
    .listContainer{
      display: flex;
      margin: 0 auto;
      .leftListContainer{
        flex-basis: 50%;
      }
      .rightListContainer {
        flex-basis: 50%;}
    }
  }